<div id='about-us-page'>


    
    <br>
    <h1 class="text-center">Executive Officers</h1>
    <hr>
    <br>
    <div class="about-us-users-wrapper" >
      <div *ngFor="let oneUser of admins">
        <div class="about-us-user">
          
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-l2s2boPCJRrS3G9-NK6LoR1xPaQewndvV73qKDNtov_fjVelZQ" alt="Avatar">
          <!-- <img src="{{oneUser.profilePic}}" alt="profilePic"> -->
          <br>
          <br>
          <h3>{{oneUser.name}}</h3>
          <p>{{oneUser.position}}</p>
          

        </div>

        <br>


      </div> 
    </div>

    <h1 class="text-center">Members</h1>
    <hr>
    <br>
    <div class="about-us-users-wrapper" >
      <div *ngFor="let oneUser of members">
        <div class="about-us-user">
          
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-l2s2boPCJRrS3G9-NK6LoR1xPaQewndvV73qKDNtov_fjVelZQ" alt="Avatar">
          <!-- <img src="{{oneUser.profilePic}}" alt="profilePic"> -->
          <br>
          <br>
          <h3>{{oneUser.name}}</h3>
          <p>{{oneUser.position}}</p>
          

        </div>

        <br>


      </div> 
    </div>

</div>