.btn-outline-success{
  background-color: #0A6545;
  color:white;
  border-color:#0A6545;
}

.modal {
  width: 750px;
  text-align:center;
  }

.btn-primary{
  background-color: #0A6545;
  border-color: #0A6545;
}

