<div class="col"></div>

<div class="col"></div>

<div class="col">
  <div class="buttonApply">
    <button routerLink="/apply" type="button" class="btn btn-primary btn-lg animated bounceInLeft">Apply Now</button>
  </div>

  <div class="col"></div>


  <div class="col">
    <div class="buttonUser animated bounceInDown">
      <app-user></app-user>
  
    </div>
  </div>
</div>

<div class="container">
  <br>
  <br>
  <h1 class="text-center">What is Tamid?</h1>
  <p>
    
    The TAMID Group is a non-profit organization led by students, which creates and enhances relationships between business-minded students and the Israeli economy/start up nation. Since its creation in 2008, nearly thirty elite U.S. universities have TAMID on their campuses. TAMID gives students hands on experience with the Israeli start up nation and its’ economy.</p>
    <br>

    <div class="groupImg">
      <h3 class="text-center">TAMID Members</h3>
      <img class=" rounded" src="https://res.cloudinary.com/dkops7cmz/image/upload/v1533857480/Screen_Shot_2018-07-31_at_3.42.06_PM_1.png" alt="tamidMembers">
    </div>
    <br>
   <div class="row content">
    <div class="col-md-6">
    <h2>Education</h2>
   <p class="p"> New TAMID members will take part in education seminars, where they learn the basics of consulting and investing, and hear from business professionals from industries ranging from high-tech to investment banking to venture capital. Members are then given the choice between Consulting and Fund. </p>
    </div>

  <div class="col-md-6">
    <h2>Consulting</h2>

    <p class="p">Tamid consulting provides pro-bono consulting for exciting and innovative companies coming out of Israel. TAMID members engage in projects during the academic year that build skills in market research, competitive analysis, US market entry strategy, beta testing/product development and design, venture analytics and more. Aside from the consulting projects, members learn general consulting and professional development skills by participating in case competitions and skill-building workshops, and listening to guest speakers from a variety of industries. </p>
  </div>

</div> 


<div class="row">
  <div class="col-md-6">
    <h2>Investment Fund</h2>
 

    <p class="p">The TAMID Fund members invest in a simulated fund and compete against other TAMID chapters across the nation. The top chapter is eligible to win cash prizes and a Seeking Alpha Pro account. Fund members are given an introduction into the world of investing and education on fundamental stock analysis and how to pitch a stock, including an understanding of DCF and PE valuations.</p>
  </div>



  <div class="col-md-6">
    <h2>Fellowship</h2>

    <p class="p">Lastly, selected TAMID members have the opportunity of going on an all-expenses-paid fellowship to Tel Aviv, where they intern at some of Israel’s most exciting companies and startups. With other TAMID members from across the world, fellows explore Israel, hear from top technology executives and venture capitalists, and discuss how to make TAMID better at their respective chapters.</p>
  </div>




</div>