

<div *ngIf="theActualUser">
<h2>Application Form</h2>

<form (ngSubmit) = "applyNow()" method="post" enctype="multipart/form-data">


  <label> Email Address </label>
  <input type="text" [(ngModel)]="theActualUser.email" name="email"/>
  <br>
  
  <label> Password </label>
  <input type="password" [(ngModel)]="theActualUser.password" name="password"/>
  <br>

  <label> Name </label>
  <input type="text" [(ngModel)]="theActualUser.name" name="name"/>
  <br>

  <label> Graduation Date </label>
  <input type="text" [(ngModel)]="theActualUser.gradDate" name="gradDate"/>
  <br>

  <label> Phone Number </label>
  <input type="text" [(ngModel)]="theActualUser.phoneNum" name="phoneNum"/>
  <br>

  <label> LinkedIn URL </label>
  <input type="text" [(ngModel)]="theActualUser.linkedInUrl" name="linkedInUrl"/>
  
  <br>
 

  <button> Apply Now! </button>
</form>

</div>



