


<div class="container">
    <h1 class="form-heading">Apply Form</h1>
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>Apply</h2>
       <p>Please enter the following Information</p>
       </div>
        <form id="Login" (ngSubmit) = "applyNow()" method="post" enctype="multipart/form-data">
    
            <div class="form-group">
    
                <!-- <label> Email Address </label> -->
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" [(ngModel)]="theActualUser.email" name="email">
    
            </div>
    
            <div class="form-group">
                <!-- <label> Password </label> -->
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="theActualUser.password" name="password">
    
            </div>

            <div class="form-group">
                
                <input type="text" class="form-control" id="inputPassword" placeholder="Full Name" [(ngModel)]="theActualUser.name" name="name">
    
            </div> 
            
            <div class="form-group">
                
                <input type="text" class="form-control" id="inputPassword" placeholder="Graduation Date" [(ngModel)]="theActualUser.gradDate" name="gradDate">
    
            </div> 
            
            <div class="form-group">
                
                <input type="text" class="form-control" id="inputPassword" placeholder="Phone number" [(ngModel)]="theActualUser.phoneNum" name="phoneNum">
    
            </div>

            <div class="form-group">
                
                <input type="text" class="form-control" id="inputPassword" placeholder="LinkedIn Url" [(ngModel)]="theActualUser.linkedInUrl" name="linkedInUrl">
    
            </div>
           
            <button type="submit" class="btn btn-primary">Apply Now</button>
    
        </form>
        </div>
    <!-- <p class="botto-text"> Designed by Sunil Rajput</p> -->
    </div>



